@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

.write {
  border: none;
  background-color: white;
  cursor: pointer;
}

.board {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.board thead {
  background-color: #007bff;
  color: white;
}

.board th,
.board td {
  border: 1px solid #ddd;
  padding: 12px;
}

.board tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

td a {
  text-decoration: none;
  color: black;
}

.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagenation ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f8f9fa;
}

.page:hover {
  background-color: #7cbafc;
  color: white;
}

.page.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 1px solid #007bff;
}
